<p id="notice"><%= notice %></p>

<table class="table table-striped">
	<head>Name of List</head>

  <thead>Description:</thead>
    <td><%= @task.description %></td>

  <thead>Task status:</thead>
    <td><%= @task.task_status %></td>
</table>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>