<p id="notice"><%= notice %></p>

<h3><%= @list.name %> <small><%= '#' %></small></h3>

<table class="table table-striped">
  <thead>
  	<tr>
  		<th>Task Description</th>
  		<th>Status</th>
  	</tr>
  <% @tasks.each do |t| %>
  <tbody>
    <td><%= t.description %></td>
    <td><%= t.task_status %></td>
  </tbody>
  <% end %>
</table>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>