<p id="notice"><%= notice %></p>

<h3><%= @list.name %> <small><%= @list.list_status %></small></h3>

<table class="table table-striped">
  <thead>
  	<tr>
  		<th>Task Description</th>
  		<th>Status</th>
  	</tr>
  <% @tasks.each do |t| %>
  <tbody>
    <td><%= link_to t.description, edit_task_path(t) %></td>
    <td><%= link_to t.task_status, edit_task_path(t) %></td>
  </tbody>
  <% end %>
</table>