<tbody>
  <% @lists.each do |list| %>
    <dl>
      <dt><h3><%= list.name%> <small style="color:#999999"><%=list.list_status%></small></h3></dt>
        <dd>
          <ul class="inline">
          <li><%= link_to 'Tasks', task_path(list.id) %></li>
          <li><%= link_to 'Edit List', edit_list_path(list) %></li>
          <li><%= link_to 'Remove List', list, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </dd>
      </dl>
    <% end %>
  </tbody>
<%= link_to 'New List', new_list_path %>
