<p id="notice"><%= notice %></p>

<h1><%= @list.name %> <small><%= @list.list_status %></small></h1>

<p class="btn">
     <%= link_to 'Add new task', new_task_path %>
</p><br><br>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>